Django==1.8.3
Pillow==2.9.0
django-appconf==1.0.1
django-ckeditor==4.5.0
django-compressor==1.5
django-haystack==2.4.0
django-imagekit==3.2.6
django-mptt==0.7.4
django-mptt-admin==0.2.1
pilkit==1.1.12
pytz==2015.4
six==1.9.0
