
<article ng-if="data.by=='tag'">
    <div class="wrap">
        <div class="inform">Show posts with tag <code>{{ tag }}</code></div>
        <div class="bg">
        </div>
    </div>
</article>


<article ng-if="data.by=='date'">
    <div class="wrap">
        <div class="inform" ng-if="data.list.length>0">
            Show <code>{{ data.list.length }}</code> posts modified at <code>{{ date }}</code>
        </div>
        <div class="inform" ng-if="data.list.length==0">No posts modified at <code>{{ date }}</code></div>
        <div class="bg">
        </div>
    </div>
</article>

<article ng-if= "data.by=='article'
                || data.by=='tag'
                || data.by=='empty'
                || data.by=='date'"
         ng-repeat="d in data.list" ngc-done="'HighlightCode'">

    <div class="wrap">
        <div class="title">
            <a ng href="{{ root + d.uri }}">{{ d.title }}</a>
        </div>
        <div class="content">
            <div ng-bind-html="trustAsHtml(d.content)" compile-template></div>
            <div class="footer" ng-if="d.show_date">
                Modified: <span class="datetime">{{ d.mod_date }}</span>,
                Post <span ng-if="d.show_author">by
                <a ng-href="mailto:{{ email }}">{{ author }} </a> </span>at
                <span class="datetime"> {{ d.pub_date }}</span>
            </div>
            <div class="comment" ng-if="d.show_comment">
                <div class="fb-comments"
                     data-href="{{ 'http://' + site + '/' + d.uri }}"
                     data-numposts="8"
                     data-order-by="reverse_time"
                     data-colorscheme="light">
                </div>
            </div>
        </div>
        <div class="bg">
        </div>
    </div>
</article>

<article ng-if= "data.by=='error'">
    <div class="wrap">
        <div class="title">
            {{ data.error.title }}
        </div>
        <div class="content">
            {{ data.error.content }}
        </div>
        <div class="bg">
        </div>
    </div>
</article>