{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <meta charset="UTF-8">
    <title ng-bind="title">Loading...</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% compress css %}
        <link rel="stylesheet" type="text/scss" href="{% static 'post/css/default.scss' %}" />
    {% endcompress %}
    <script>
        var image_logo_kitty_uri = "{% static 'post/images/logo_kitty.png' %}";
        var image_bullet_kitty_uri = "{% static 'post/images/bullet_kitty.gif' %}";
        var image_thumbnail_kitty_uri = "{% static 'post/images/thumbnail_kitty.jpeg' %}";
        var config = {{ config|safe }};
    </script>
</head>

<body yc-body>
    <img ng-src="{% verbatim %}{{ settings.bgImage }}{% endverbatim %}" class="bg" />
    <img ng-src="{% verbatim %}{{ settings.headImage }}{% endverbatim %}" class="head" />
    <header><h1 class="site_name" ng-bind="settings.header"></h1></header>
    <nav yc-navbar class="navbar navbar-default mega-menu"
         navigators="navigators"
         template-url="{% static 'post/html/navbar.html' %}"
         post-uri="{% verbatim %}{{ settings.postUri }}{% endverbatim %}"
         search-uri="{% verbatim %}{{ settings.searchUri }}{% endverbatim %}"
         list-uri="{% verbatim %}{{ settings.listUri }}{% endverbatim %}"
         images="images"
         article-ctrl="articleCtrl"
         search-ctrl="searchCtrl"
         list-ctrl="listCtrl">
    </nav>
    <div class="container-fluid box">
        <div class="row view-container">
            <div class="col-sm-8">
                <div ng-view></div>
            </div>
            <div class="col-sm-4">
                <aside>
                    <calendar template-url="{% static 'post/html/calendar.html' %}"
                              date="2015-06-11" bind="calendar" ctrl="dateCtrl"
                              posts="{% verbatim %}{{ settings.dateIndexUri }}{% endverbatim %}">
                    </calendar>
                </aside>
                <aside>
                    <yc-tags-index class="tags" url="{% verbatim %}{{ settings.tagsIndexUri }}{% endverbatim %}"
                                   template-url="{% static 'post/html/tags_index.html' %}"
                                   view-url="{% verbatim %}{{ settings.postUri + 'by' + settings.tagUri }}{% endverbatim %}">
                    </yc-tags-index>
                </aside>
            </div>
        </div>
    </div>
    <footer ng-style="footer.style" ng-show="showFooter" ng-bind="settings.footer"></footer>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script src="{% static 'post/js/angular-yc-calendar.js' %}"></script>
    <script src="{% static 'post/js/angular-easyfb.js' %}"></script>
    <script src="{% static 'post/js/functions.js' %}"></script>
    <script src="{% static 'post/js/app.js' %}"></script>
    <script src="{% static 'post/js/factories.js' %}"></script>
    <script src="{% static 'post/js/directives.js' %}"></script>
    <script src="{% static 'post/js/controllers.js' %}"></script>
</body>
</html>