$bgDefault          : hotpink;
$bgHighlight        : deeppink;
$colDefault         : whitesmoke;
$colHighlight       : white;
$colSelected        : pink;
$asideHeaderBG      : rgba(255,116,142,0.4);
$asideBoxBG         : rgba(255,255,255,.8);
$asideHighlightBG   : rgba(255, 76, 193, .4);

@mixin crossBrowser($property, $css) {
  -webkit-#{$property} : $css;
  -moz-#{$property} : $css;
  -o-#{$property} : $css;
  #{$property} : $css;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {@content;}
  @-moz-keyframes #{$name} {@content;}
  @-o-keyframes #{$name} {@content;}
  @keyframes #{$name} {@content;}
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}